/* CSS стили для страницы */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/*Удаляет стили для ul*/
ul {
  list-style-type: none;
}

/* Отключает декорацию ссылок */
a {
  text-decoration: none;
  /* Задает родительский цвет */
  color: inherit;
}

/* Разделяет нижжнее меню и верхнее меню сайта */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* CSS стили для заголовка */
.container {
  max-width: 1220px;
  margin: 0 auto 20px auto;
  padding: 0 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.header {
  background-color: #5aa69d;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* CSS стили для меню */
.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background-color: #5aa69d;
  text-transform: none;
  padding: 50px 0 32px;
  color: #ffffff;
  font-weight: 400;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 700;
}

.footer__copyright {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 12px;
}

.main {
  flex-grow: 1;
}

/*информация над слайдером */
.top {
  color: #ffffff;
  text-align: center;
  padding-top: 500px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  /*поднимает .top*/
  left: 0;
  right: 0;
}

/* стили для Сайт создан при нулевом бюджете с помощью ИИ!*/
.title {
  padding-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #5aa69d;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 4px;
  background-color: #ffffff;
}

/*Стили ссылок*/
.links {
  padding: 150px 0;
}

.links-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.links-item-title {
  margin-bottom: 30px;
  /*отступ снизу*/
  font-size: 30px;
  font-weight: 700;
  color: #5aa69d;
}

/* CSS стили для таблицы */

.container_table {
  min-width: 320px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

caption {
  width: 100%;
  text-align: center;
  color: #5aa69d;
  font-weight: 700;
  padding: 30px;
}

table.risktable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #5aa69d;
  margin: 20px 0;
}

table.risktable th,
table.risktable td {
  border: 1px solid #5aa69d;
  padding: 10px;
  text-align: center;
  color: #000000;
}


table.risktable tr:nth-child(1)>td:nth-child(2) {
  background-color: #ff0000;
  font-weight: 400;
}

table.risktable tr:nth-child(2)>td:nth-child(3),
table.risktable tr:nth-child(2)>td:nth-child(2),
table.risktable tr:nth-child(3)>td:nth-child(2),
table.risktable tr:nth-child(1)>td:nth-child(3),
table.risktable tr:nth-child(1)>td:nth-child(4) {
  background-color: #ffff00;
  font-weight: 400;
}

table.risktable tr:nth-child(3)>td:nth-child(3),
table.risktable tr:nth-child(3)>td:nth-child(4),
table.risktable tr:nth-child(2)>td:nth-child(4) {
  background-color: #00ff00;
  font-weight: 400;
}

table.risk_register {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #5aa69d;
  margin: 20px 0;
}

table.risk_register th,
table.risk_register td {
  border: 1px solid #5aa69d;
  padding: 10px;
  text-align: center;
  color: #000000;
}

th {
  background-color: #9ccac5;
}

.container-text {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}


h2 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 15px;
}


p {
  font-size: 16px;
  margin-bottom: 15px;
}

.link_in_text {
  color: #5aa69d;
  font-weight: 400;
}


/* Стили для диаграммы Ганта */

.gant h2 {
  width: 100%;
  text-align: center;
  color: #5aa69d;
  font-weight: 700
}

/* Стили для задачь диаграммы Ганта */
.gant li {
  max-width: 1200px;
  font-size: 16px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
}

/* Стили диаграмы Ганта*/
.container-gant {
  max-width: 1200px;
  min-width: 650px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.chart-gant {
  display: grid;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
}

.chart-row {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: #DCDCDC;
}

.chart-row:nth-child(odd) {
  background-color: #C0C0C0;
}

.chart-period {
  color: #ffffff;
  background-color: #708090 !important;
  border-bottom: 2px solid #000000;
  grid-template-columns: 50px repeat(12, 1fr);
}

.chart-lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 50px repeat(12, 1fr);
}

.chart-period>span {
  text-align: center;
  font-size: 12px;
  align-self: center;
  font-weight: 700;
  padding: 15px 0;
}

.chart-lines>span {
  display: block;
  border-right: 1px solid #000000;
}

.chart-row-item {
  background-color: #808080;
  border: 1px solid #000000;
  border-top: 0;
  border-left: 0;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.chart-row-bars {
  list-style: none;
  display: grid;
  padding: 15px 0;
  margin: 0;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px 0;
  border-bottom: 1px solid #000000;
}

.chart-row li {
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  min-height: 15px;
  background-color: #708090;
  padding: 5px 15px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 15px;
}

ul .chart-li-one {
  grid-column: 1/2;
  background-color: #588BAE;
}

ul .chart-li-two-a {
  grid-column: 2/2;
  background-color: #0080FF;
}

ul .chart-li-two-b {
  grid-column: 2/2;
  background-color: #4682B4;
}

ul .chart-li-three {
  grid-column: 3/5;
  background-color: #57A0D3;
}

ul .chart-li-four {
  grid-column: 5/7;
  background-color: #0E4D92;
}

ul .chart-li-five {
  grid-column: 7/9;
  background-color: #4F97A3;
}

ul .chart-li-six-a {
  grid-column: 9/13;
  background-color: #73C2FB;
}

ul .chart-li-six-b {
  grid-column: 9/13;
  background-color: #0080FF;
}

/*Стили страницы контакты*/

.contacts {
  padding: 100px 0 150px;
}

.contacts-title {
  margin-bottom: 20px;
  text-align: center;
}

.contacts-text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 0 100px;
}

form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #5aa69d;
  margin-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  opacity: 0.5;
}

.form-textarea {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid #5aa69d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 50px;
}

.send {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 13px 61px;
  margin: 0 auto;
}


/* Медиа-запрос для адаптации под мобильные устройства */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 720px) {

  .container_table table thead {
    display: none;
  }

  .container_table table tr {
    display: block;
  }

  .container_table table td {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .container_table table td::before {
    content: attr(data-label);
    font-weight: 700;
    margin-right: 20px;
  }

}